<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        {{{_sections.head}}}
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        {{> header }}
        {{{ body }}}
    </body>
    {{{_sections.scriptIncludes}}}
</html>
